@charset "UTF-8";
/**
Desktop first approach 
0 - 600     -phone
600 - 900   -tab-pro
900 - 1200  -tab-land
1200 - 1800 - Normal css will apply
1800 +      - big screen 

$breakpoints
- phone
- tab-pro
- tab-land
- big-s
*/
@font-face {
  font-family: "icomoon";
  src: url("./../scss/icomoon-v1.0/fonts/icomoon.eot?2df7yl");
  src: url("./../scss/icomoon-v1.0/fonts/icomoon.eot?2df7yl#iefix") format("embedded-opentype"), url("./../scss/icomoon-v1.0/fonts/icomoon.ttf?2df7yl") format("truetype"), url("./../scss/icomoon-v1.0/fonts/icomoon.woff?2df7yl") format("woff"), url("./../scss/icomoon-v1.0/fonts/icomoon.svg?2df7yl#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-activity:before {
  content: ""; }

.icon-airplay:before {
  content: ""; }

.icon-alert-circle:before {
  content: ""; }

.icon-alert-octagon:before {
  content: ""; }

.icon-alert-triangle:before {
  content: ""; }

.icon-align-center:before {
  content: ""; }

.icon-align-justify:before {
  content: ""; }

.icon-align-left:before {
  content: ""; }

.icon-align-right:before {
  content: ""; }

.icon-anchor:before {
  content: ""; }

.icon-aperture:before {
  content: ""; }

.icon-archive:before {
  content: ""; }

.icon-arrow-down:before {
  content: ""; }

.icon-arrow-down-circle:before {
  content: ""; }

.icon-arrow-down-left:before {
  content: ""; }

.icon-arrow-down-right:before {
  content: ""; }

.icon-arrow-left:before {
  content: ""; }

.icon-arrow-left-circle:before {
  content: ""; }

.icon-arrow-right:before {
  content: ""; }

.icon-arrow-right-circle:before {
  content: ""; }

.icon-arrow-up:before {
  content: ""; }

.icon-arrow-up-circle:before {
  content: ""; }

.icon-arrow-up-left:before {
  content: ""; }

.icon-arrow-up-right:before {
  content: ""; }

.icon-at-sign:before {
  content: ""; }

.icon-award:before {
  content: ""; }

.icon-bar-chart:before {
  content: ""; }

.icon-bar-chart-2:before {
  content: ""; }

.icon-battery:before {
  content: ""; }

.icon-battery-charging:before {
  content: ""; }

.icon-bell:before {
  content: ""; }

.icon-bell-off:before {
  content: ""; }

.icon-bluetooth:before {
  content: ""; }

.icon-bold:before {
  content: ""; }

.icon-book:before {
  content: ""; }

.icon-book-open:before {
  content: ""; }

.icon-bookmark:before {
  content: ""; }

.icon-box:before {
  content: ""; }

.icon-briefcase:before {
  content: ""; }

.icon-calendar:before {
  content: ""; }

.icon-camera:before {
  content: ""; }

.icon-camera-off:before {
  content: ""; }

.icon-cast:before {
  content: ""; }

.icon-check:before {
  content: ""; }

.icon-check-circle:before {
  content: ""; }

.icon-check-square:before {
  content: ""; }

.icon-chevron-down:before {
  content: ""; }

.icon-chevron-left:before {
  content: ""; }

.icon-chevron-right:before {
  content: ""; }

.icon-chevron-up:before {
  content: ""; }

.icon-chevrons-down:before {
  content: ""; }

.icon-chevrons-left:before {
  content: ""; }

.icon-chevrons-right:before {
  content: ""; }

.icon-chevrons-up:before {
  content: ""; }

.icon-chrome:before {
  content: ""; }

.icon-circle:before {
  content: ""; }

.icon-clipboard:before {
  content: ""; }

.icon-clock:before {
  content: ""; }

.icon-cloud:before {
  content: ""; }

.icon-cloud-drizzle:before {
  content: ""; }

.icon-cloud-lightning:before {
  content: ""; }

.icon-cloud-off:before {
  content: ""; }

.icon-cloud-rain:before {
  content: ""; }

.icon-cloud-snow:before {
  content: ""; }

.icon-code:before {
  content: ""; }

.icon-codepen:before {
  content: ""; }

.icon-codesandbox:before {
  content: ""; }

.icon-coffee:before {
  content: ""; }

.icon-columns:before {
  content: ""; }

.icon-command:before {
  content: ""; }

.icon-compass:before {
  content: ""; }

.icon-copy:before {
  content: ""; }

.icon-corner-down-left:before {
  content: ""; }

.icon-corner-down-right:before {
  content: ""; }

.icon-corner-left-down:before {
  content: ""; }

.icon-corner-left-up:before {
  content: ""; }

.icon-corner-right-down:before {
  content: ""; }

.icon-corner-right-up:before {
  content: ""; }

.icon-corner-up-left:before {
  content: ""; }

.icon-corner-up-right:before {
  content: ""; }

.icon-cpu:before {
  content: ""; }

.icon-credit-card:before {
  content: ""; }

.icon-crop:before {
  content: ""; }

.icon-crosshair:before {
  content: ""; }

.icon-database:before {
  content: ""; }

.icon-delete:before {
  content: ""; }

.icon-disc:before {
  content: ""; }

.icon-dollar-sign:before {
  content: ""; }

.icon-download:before {
  content: ""; }

.icon-download-cloud:before {
  content: ""; }

.icon-droplet:before {
  content: ""; }

.icon-edit:before {
  content: ""; }

.icon-edit-2:before {
  content: ""; }

.icon-edit-3:before {
  content: ""; }

.icon-external-link:before {
  content: ""; }

.icon-eye:before {
  content: ""; }

.icon-eye-off:before {
  content: ""; }

.icon-facebook:before {
  content: ""; }

.icon-fast-forward:before {
  content: ""; }

.icon-feather:before {
  content: ""; }

.icon-figma:before {
  content: ""; }

.icon-file:before {
  content: ""; }

.icon-file-minus:before {
  content: ""; }

.icon-file-plus:before {
  content: ""; }

.icon-file-text:before {
  content: ""; }

.icon-film:before {
  content: ""; }

.icon-filter:before {
  content: ""; }

.icon-flag:before {
  content: ""; }

.icon-folder:before {
  content: ""; }

.icon-folder-minus:before {
  content: ""; }

.icon-folder-plus:before {
  content: ""; }

.icon-framer:before {
  content: ""; }

.icon-frown:before {
  content: ""; }

.icon-gift:before {
  content: ""; }

.icon-git-branch:before {
  content: ""; }

.icon-git-commit:before {
  content: ""; }

.icon-git-merge:before {
  content: ""; }

.icon-git-pull-request:before {
  content: ""; }

.icon-github:before {
  content: ""; }

.icon-gitlab:before {
  content: ""; }

.icon-globe:before {
  content: ""; }

.icon-grid:before {
  content: ""; }

.icon-hard-drive:before {
  content: ""; }

.icon-hash:before {
  content: ""; }

.icon-headphones:before {
  content: ""; }

.icon-heart:before {
  content: ""; }

.icon-help-circle:before {
  content: ""; }

.icon-hexagon:before {
  content: ""; }

.icon-home:before {
  content: ""; }

.icon-image:before {
  content: ""; }

.icon-inbox:before {
  content: ""; }

.icon-info:before {
  content: ""; }

.icon-instagram:before {
  content: ""; }

.icon-italic:before {
  content: ""; }

.icon-key:before {
  content: ""; }

.icon-layers:before {
  content: ""; }

.icon-layout:before {
  content: ""; }

.icon-life-buoy:before {
  content: ""; }

.icon-link:before {
  content: ""; }

.icon-link-2:before {
  content: ""; }

.icon-linkedin:before {
  content: ""; }

.icon-list:before {
  content: ""; }

.icon-loader:before {
  content: ""; }

.icon-lock:before {
  content: ""; }

.icon-log-in:before {
  content: ""; }

.icon-log-out:before {
  content: ""; }

.icon-mail:before {
  content: ""; }

.icon-map:before {
  content: ""; }

.icon-map-pin:before {
  content: ""; }

.icon-maximize:before {
  content: ""; }

.icon-maximize-2:before {
  content: ""; }

.icon-meh:before {
  content: ""; }

.icon-menu:before {
  content: ""; }

.icon-message-circle:before {
  content: ""; }

.icon-message-square:before {
  content: ""; }

.icon-mic:before {
  content: ""; }

.icon-mic-off:before {
  content: ""; }

.icon-minimize:before {
  content: ""; }

.icon-minimize-2:before {
  content: ""; }

.icon-minus:before {
  content: ""; }

.icon-minus-circle:before {
  content: ""; }

.icon-minus-square:before {
  content: ""; }

.icon-monitor:before {
  content: ""; }

.icon-moon:before {
  content: ""; }

.icon-more-horizontal:before {
  content: ""; }

.icon-more-vertical:before {
  content: ""; }

.icon-mouse-pointer:before {
  content: ""; }

.icon-move:before {
  content: ""; }

.icon-music:before {
  content: ""; }

.icon-navigation:before {
  content: ""; }

.icon-navigation-2:before {
  content: ""; }

.icon-octagon:before {
  content: ""; }

.icon-package:before {
  content: ""; }

.icon-paperclip:before {
  content: ""; }

.icon-pause:before {
  content: ""; }

.icon-pause-circle:before {
  content: ""; }

.icon-pen-tool:before {
  content: ""; }

.icon-percent:before {
  content: ""; }

.icon-phone:before {
  content: ""; }

.icon-phone-call:before {
  content: ""; }

.icon-phone-forwarded:before {
  content: ""; }

.icon-phone-incoming:before {
  content: ""; }

.icon-phone-missed:before {
  content: ""; }

.icon-phone-off:before {
  content: ""; }

.icon-phone-outgoing:before {
  content: ""; }

.icon-pie-chart:before {
  content: ""; }

.icon-play:before {
  content: ""; }

.icon-play-circle:before {
  content: ""; }

.icon-plus:before {
  content: ""; }

.icon-plus-circle:before {
  content: ""; }

.icon-plus-square:before {
  content: ""; }

.icon-pocket:before {
  content: ""; }

.icon-power:before {
  content: ""; }

.icon-printer:before {
  content: ""; }

.icon-radio:before {
  content: ""; }

.icon-refresh-ccw:before {
  content: ""; }

.icon-refresh-cw:before {
  content: ""; }

.icon-repeat:before {
  content: ""; }

.icon-rewind:before {
  content: ""; }

.icon-rotate-ccw:before {
  content: ""; }

.icon-rotate-cw:before {
  content: ""; }

.icon-rss:before {
  content: ""; }

.icon-save:before {
  content: ""; }

.icon-scissors:before {
  content: ""; }

.icon-search:before {
  content: ""; }

.icon-send:before {
  content: ""; }

.icon-server:before {
  content: ""; }

.icon-settings:before {
  content: ""; }

.icon-share:before {
  content: ""; }

.icon-share-2:before {
  content: ""; }

.icon-shield:before {
  content: ""; }

.icon-shield-off:before {
  content: ""; }

.icon-shopping-bag:before {
  content: ""; }

.icon-shopping-cart:before {
  content: ""; }

.icon-shuffle:before {
  content: ""; }

.icon-sidebar:before {
  content: ""; }

.icon-skip-back:before {
  content: ""; }

.icon-skip-forward:before {
  content: ""; }

.icon-slack:before {
  content: ""; }

.icon-slash:before {
  content: ""; }

.icon-sliders:before {
  content: ""; }

.icon-smartphone:before {
  content: ""; }

.icon-smile:before {
  content: ""; }

.icon-speaker:before {
  content: ""; }

.icon-square:before {
  content: ""; }

.icon-star:before {
  content: ""; }

.icon-stop-circle:before {
  content: ""; }

.icon-sun:before {
  content: ""; }

.icon-sunrise:before {
  content: ""; }

.icon-sunset:before {
  content: ""; }

.icon-tablet:before {
  content: ""; }

.icon-tag:before {
  content: ""; }

.icon-target:before {
  content: ""; }

.icon-terminal:before {
  content: ""; }

.icon-thermometer:before {
  content: ""; }

.icon-thumbs-down:before {
  content: ""; }

.icon-thumbs-up:before {
  content: ""; }

.icon-toggle-left:before {
  content: ""; }

.icon-toggle-right:before {
  content: ""; }

.icon-tool:before {
  content: ""; }

.icon-trash:before {
  content: ""; }

.icon-trash-2:before {
  content: ""; }

.icon-trello:before {
  content: ""; }

.icon-trending-down:before {
  content: ""; }

.icon-trending-up:before {
  content: ""; }

.icon-triangle:before {
  content: ""; }

.icon-truck:before {
  content: ""; }

.icon-tv:before {
  content: ""; }

.icon-twitch:before {
  content: ""; }

.icon-twitter:before {
  content: ""; }

.icon-type:before {
  content: ""; }

.icon-umbrella:before {
  content: ""; }

.icon-underline:before {
  content: ""; }

.icon-unlock:before {
  content: ""; }

.icon-upload:before {
  content: ""; }

.icon-upload-cloud:before {
  content: ""; }

.icon-user:before {
  content: ""; }

.icon-user-check:before {
  content: ""; }

.icon-user-minus:before {
  content: ""; }

.icon-user-plus:before {
  content: ""; }

.icon-user-x:before {
  content: ""; }

.icon-users:before {
  content: ""; }

.icon-video:before {
  content: ""; }

.icon-video-off:before {
  content: ""; }

.icon-voicemail:before {
  content: ""; }

.icon-volume:before {
  content: ""; }

.icon-volume-1:before {
  content: ""; }

.icon-volume-2:before {
  content: ""; }

.icon-volume-x:before {
  content: ""; }

.icon-watch:before {
  content: ""; }

.icon-wifi:before {
  content: ""; }

.icon-wifi-off:before {
  content: ""; }

.icon-wind:before {
  content: ""; }

.icon-x:before {
  content: ""; }

.icon-x-circle:before {
  content: ""; }

.icon-x-octagon:before {
  content: ""; }

.icon-x-square:before {
  content: ""; }

.icon-youtube:before {
  content: ""; }

.icon-zap:before {
  content: ""; }

.icon-zap-off:before {
  content: ""; }

.icon-zoom-in:before {
  content: ""; }

.icon-zoom-out:before {
  content: ""; }

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translate(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translate(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.secondary-heading {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, #19fd0073, #19fd00);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  .secondary-heading:hover {
    transform: skewY(2deg) skewX(18deg) scale(1.1);
    text-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.btn:link,
.btn:visited {
  text-transform: capitalize;
  text-decoration: none;
  display: inline-block;
  font-size: 2.4rem;
  border-radius: 10rem;
  padding: 0rem 2.5rem;
  /* animation: all 0.2s; */
  transition: all 0.1s; }

.btn-white {
  background-color: #fff;
  color: #777; }

/* x ,y, bluer color */
.btn:hover {
  transform: translateY(-1rem);
  box-shadow: 0 1rem 2rem black; }

.btn:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem black; }

.btn-text:link, .btn-text:visited {
  padding: 3px;
  font-size: 1.6rem;
  color: #19fd00;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #19fd00;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #19fd00;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(25, 253, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    position: absolute;
    width: 50%;
    box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.4);
    transition: all 0.2s;
    outline-offset: 2rem;
    z-index: 10; }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid rgba(25, 253, 0, 0.7);
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 1.5rem;
  padding: 2.5rem;
  border-radius: 3px;
  transition: all 0.2s;
  box-shadow: 0 0.5 2rem rgba(0, 0, 0, 0.4); }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to right, #19fd0073, #19fd00);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.story {
  width: 75%;
  box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0 auto;
  padding: 6rem;
  border-radius: 3px;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(13deg);
    position: relative; }
    .story__shape--img {
      height: 100%;
      transform: scale(1.2);
      transition: all 0.5s; }
    .story__shape--caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 20%);
      font-size: 1.7rem;
      color: #fff;
      text-transform: uppercase;
      backface-visibility: hidden;
      transition: all 0.5s;
      opacity: 0;
      text-align: center; }
  .story:hover .story__shape--img {
    transform: scale(1);
    filter: blur(3px) brightness(80%); }
  .story:hover .story__shape--caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story__text {
    transform: skewX(12deg); }

.header {
  height: 75vh;
  width: 100%;
  background-image: linear-gradient(to right bottom, #19fd0073, #ffffff00), url("./../DSC_4998-1.JPG");
  background-size: cover;
  background-position: right;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%); }

.heading {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .heading-main {
    display: block;
    font-size: 4.2rem;
    font-weight: 400;
    letter-spacing: 1.4rem;
    animation-name: moveToLeft;
    animation-duration: 1s;
    /* animation-delay: 1s;
        animation-iteration-count: 3; */
    animation-timing-function: ease-out; }
  .heading-sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.8rem;
    animation: moveToRight 1s ease-out;
    animation-name: moveToRight;
    animation-duration: 1s; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (2 * 6rem)) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - (2 * 6rem)) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 6rem)) / 4); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - (3 * 6rem)) / 4) + 2 * 6rem); }

.section-about {
  background-color: #f7f7f7;
  padding: 15rem 0;
  margin-top: -25vh; }

.section-feature {
  padding: 15rem 0;
  margin-top: -10rem;
  background-image: linear-gradient(to right bottom, #19fd0073, #19fd00), url("./../DSC_4998-1.JPG");
  background-size: cover;
  transform: skewY(3deg); }
  .section-feature > * {
    transform: skewY(-3deg); }

.section-tour {
  background-color: #f7f7f7;
  padding: 15rem 0;
  margin-top: -11rem; }

.section-stories {
  padding: 10rem 0;
  position: relative; }

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media (max-width: 1200) {
    html {
      font-size: 80%; } }
  @media (max-width: 900px) {
    html {
      font-size: 70%; } }
  @media (max-width: 600px) {
    html {
      font-size: 50%; } }
  @media (min-width: 1800) {
    html {
      font-size: 90%; } }

body {
  font-family: "Lato" sans-serif;
  line-height: 1.7;
  padding: 1rem; }
