* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: inherit;
}
html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  font-family: "Lato" sans-serif;
  line-height: 1.7;
  padding: 1rem;
}
.header {
  height: 95vh;
  width: 100vw;
  background-image: linear-gradient(to right bottom, #19fd0073, #ffffff00),
    url("./../DSC_4998-1.JPG");
  background-size: cover;
  background-position: right;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

.heading-box {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading {
  color: #fff;
  text-transform: uppercase;
  /* line-height: 0.2; */
  backface-visibility: hidden;
}
.heading-main {
  display: block;
  font-size: 4.2rem;
  font-weight: 400;
  letter-spacing: 1.4rem;
  animation-name: moveToLeft;
  animation-duration: 1s;

  /* animation-delay: 1s;
  animation-iteration-count: 3; */
  animation-timing-function: ease-out;
}
.heading-sub {
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.8rem;
  animation: moveToRight 1s ease-out;
  animation-name: moveToRight;
  animation-duration: 1s;
}

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translate(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: capitalize;
  text-decoration: none;
  display: inline-block;
  font-size: 2.4rem;
  border-radius: 10rem;
  padding: 0rem 2.5rem;
  /* animation: all 0.2s; */
  transition: all 0.1s;
}
.btn-white {
  background-color: #fff;
  color: #777;
}
/* x ,y, bluer color */
.btn:hover {
  transform: translateY(-1rem);
  box-shadow: 0 1rem 2rem rgb(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.2);
}

/* .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
} */
