@import "./abstract/variable";
@import "./abstract/mixin";
@import "./icomoon-v1.0/style.scss";
@import "./animations/keyframe";
@import "./typography/typography";
@import "./abstract/utility";

@import "./components/button";
@import "./components/composition";
@import "./components/feature-box";
@import "./components/bg-video";
@import "./components/story";

@import "./layout/heading";
@import "./layout/grid";
@import "./pages/home";
* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond(tab-land) {
    font-size: 80%;
  }

  @include respond(tab-pro) {
    font-size: 70%;
  }

  @include respond(phone) {
    font-size: 50%;
  }

  @include respond(big-s) {
    font-size: 90%;
  }
}

body {
  font-family: "Lato" sans-serif;
  line-height: 1.7;
  padding: 1rem;
}
