@import "./abstract/variable";
@import "./abstract/mixin";
@import "./icomoon-v1.0/style.scss";
@import "./animations/keyframe";
@import "./typography/typography";
@import "./abstract/utility";

@import "./components/button";
@import "./components/composition";
@import "./components/feature-box";
@import "./components/story";

@import "./layout/heading";
@import "./layout/grid";
@import "./pages/home";
* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  font-family: "Lato" sans-serif;
  line-height: 1.7;
  padding: 1rem;
}
