// block -> element -> modifier
// postion, bigger on over and small on not over , outline ,
.composition {
  position: relative;
  &__photo {
    position: absolute;
    width: 50%;
    box-shadow: 0 0.5rem 4rem rgba($color: $black, $alpha: 0.4);
    transition: all 0.2s;
    outline-offset: 2rem;
    z-index: 10;
    &--p1 {
      top: -2rem;
      left: 0;
    }
    &--p2 {
      right: 0;
      top: 2rem;
    }
    &--p3 {
      left: 20%;
      top: 10rem;
    }
    &:hover {
      outline: 1.5rem solid rgba($color: $primary-dark, $alpha: 0.7);
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba($color: $black, $alpha: 0.5);
      z-index: 20;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
