@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both; // Do not allow floating elements on the left or the right side of a specified <> element:
  }
}

/**
Desktop first approach 
0 - 600     -phone
600 - 900   -tab-pro
900 - 1200  -tab-land
1200 - 1800 - Normal css will apply
1800 +      - big screen 

$breakpoints
- phone
- tab-pro
- tab-land
- big-s


ORDER
base -> typography -> general-layout -> grid -> page-layout -> component

*/

@mixin respond($breakpoints) {
  @if $breakpoints == phone {
    @media (max-width: 37.5em) {
      // 600/16 media query should be always in em
      @content;
    }
  }

  @if $breakpoints == tab-pro {
    @media (max-width: 56.25em) {
      //900/16
      @content;
    }
  }

  @if $breakpoints == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoints == big-s {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
