.u-center-text {
  text-align: center;
}
.u-margin-bottom-big {
  margin-bottom: 8rem;
}
.u-margin-bottom-small {
  margin-bottom: 2rem;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
.u-rich-text {
  font-size: 3rem;
  font-weight: 400;
  padding: 1rem;
  text-transform: capitalize;
}
